PEXELS_API_KEY=
PIXABAY_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
APP_PUBLIC_URL=http://127.0.0.1:8000
WHISPER_SYNTH_TIMEOUT_SEC=900
WHISPER_MODEL_LOAD_TIMEOUT_SEC=300
WHISPER_TRANSCRIBE_TIMEOUT_SEC=1800
